table {
    width: 40vw;
    text-align: center;
}

table td {
    color: black;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px inset rgb(30, 20, 10);
    border-top: 1px inset rgb(30, 20, 10);
}