table {
    width: 42vw;
}

table thead {
    font-size: 14px;
}

table th {
    background-image: linear-gradient(rgb(26, 109, 15),rgb(37, 37, 37));
    color: white;
    padding: 14px;
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 20px;
    font-size: 16px;
}

table tbody tr:hover {
    opacity: 7;
    background-color: rgb(30,30,30);
}

tbody {
    width: 100%;
}

table td {
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position: relative;
    z-index: 1;
}

.button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(42, 7, 56);
    border: none;
    border-radius: 12px;
    height: 40px;
}

.button:hover {
    animation-name: flip;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes flip {
    100% {
        transform: scale(1.1);
        transform: rotate(360deg);
        background-color: rgb(85, 2, 25);
    }
}